@import './color.scss';
@import './font.scss';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$top-nav: 1120px;
$hidden-nav: 500px;
